@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-200 antialiased selection:bg-white/10 selection:text-white;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  .print-expand {
    height: auto !important;
    min-height: 100vh !important;
    overflow: visible !important;
  }
}
